@font-face {
    font-family: ArchivoBlack;
    src: url('./fonts/ArchivoBlack-Regular.ttf');
}

@font-face {
    font-family: Kosugi;
    src: url('./fonts/Kosugi-Regular.ttf');
}

@font-face {
    font-family: RubikMono;
    src: url('./fonts/RubikMonoOne-Regular.ttf');
}

html, body {
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: fixed;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    margin-top: 30vh;
}

.title h1 span {
    background-color: rgba(0, 0, 0, 1);
    padding: 0.25em;
    border-radius: 5px;
}

.title h1{
    font-family: ArchivoBlack, Kosugi, RubikMono, monospace, sans-serif;
    font-size: 1.75em;
    color:white;
}

.splash {
    margin-top: 5vh;
}

.splash h2 {
    font-family: ArchivoBlack, Kosugi, RubikMono, monospace, sans-serif;
    font-size: 1em;
    color:white;
}

.splash h2 span {
    background-color: rgba(0, 0, 0, 1);
    padding: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 15px;
}

.search-bar {
    display: grid;
    justify-content: center;
    margin: 0;
    text-align: center;
}

.search-bar input {
    width: 33vw;
    height: 3vh;
    font-family: ArchivoBlack, Kosugi, RubikMono, monospace, sans-serif;
    font-size: 1em;
    padding-left: 1em;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

.search-bar input:focus {
    outline: none;
}

.nav {
    position: relative;
    top: 0%;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 15px;
    padding: 5px;
    margin-top: 1vh;
    font-family: ArchivoBlack, Kosugi, RubikMono, monospace, sans-serif;
    font-size: 0.75em;
}

.nav a {
    color: white;
    text-decoration: none;
    padding-left: 0.25vw;
}

.nav a:hover {
    color: lightgray;
}




