body {
    margin: 0;
    background-image: url("./background.jpeg");
}

.search-bar {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.search-bar input {
    width: 33vw;
    height: 3vh;
    border-radius: 50px;
    border: 2px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
