body {
    background-color: black;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.title {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 30vh;
}

.title h1 span {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.25em;
    border-radius: 5px;
}

.title h1{
    font-size: 2rem;
    color:white;
}

.search-bar {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.search-bar input {
    width: 33vw;
    height: 3vh;
    font-size: 1em;
    padding-left: 1em;
    border-radius: 50px;
    border: 2px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.search-bar input:focus {
    outline: none;
}

.nav {
    position: absolute;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    font-size: 1.25em;
}

.nav a {
    color: white;
    text-decoration: none;
}



